@model Tech_News.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên Mật Khẩu?";
    Layout = "~/Views/Shared/_Account.cshtml";
}

<div id="forgotten-container">
    <h4 class="text-white text-center py-2">E-mail</h4>
    <span class="close-btn">
        <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png">
    </span>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger small" })

        <div class="d-flex justify-content-center align-items-center flex-column">
            @Html.TextBoxFor(m => m.Email, new { @class = "", @placeholder = "E-mail" })
            <input type="submit" class="btn btn-dark mt-2" value="Lấy lại mật khẩu" />

        </div>

    }
</div>
