@{
    ViewBag.Title = "Xác Nhận Email";
}

<div class="container">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Hãy Kiểm Tra Email Xác Nhận mà chúng tôi gửi đến!
        </p>
    </div>
</div>

	
