@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Mật khẩu của bạn đã được thay đổi ,  @Html.ActionLink("Ấn vào đây để đăng nhập", "Login", "Account", new { returnUrl = Url.Action("Index","Home")})
    </p>
</div>
